@import lib/_twitter-bootstrap
@import lib/_zurui
@import lib/_variables

#global-header
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 56px
  background: #fff
  opacity: 0.9
  z-index: 20
  .page-title
    font-size: 32px
    font-weight: bold
    margin-top: 6px
  .information
    margin-top: 14px
.contents
  padding: 4em
  .title
    border-bottom: solid 3px
  .longtext
    line-height: 1.8em
  &.contents-video
    padding: 0em
    video
      min-width: 100%
      opacity: 0.6
    .overray
      margin: 0 auto
      position: absolute
      z-index: 100
      width: 100%
      top: 70%
  &.contents-tldr
    .point
      margin-top: 4em
      .symbol
        margin: 0 auto
  &.contents-information
    border-top: 3px solid $vivid-orange
  &.contents-recruit
    border: 60px solid $vivid-orange
